<app-libraryshow></app-libraryshow>
<div class="container mt-4">
    <h2 class="text-center">Shopping Cart</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <!-- <th>Subtotal</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cart of carts">
                <td>
                    <img *ngIf="cart.product?.pimage" src="data:image/jpg;base64,{{ cart.product?.pimage }}"
                        alt="Product Image" width="100">
                </td>
                <td>{{ cart.product?.pname || 'Loading...' }}</td>
                <td>${{ cart.product?.pprice || 0 }}</td>
                <td>{{ cart.pqty }}</td>
                <!-- <td>${{ (cart.product?.pprice || 0) * n(cart.pqty) }}</td> -->
            </tr>
        </tbody>
    </table>
</div>