<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <!-- Sidebar Toggle Button -->
        <button class="btn btn-outline-primary me-3" id="sidebarToggle">
            ADMIN </button>

        <!-- Navbar Brand -->
        <a class="navbar-brand mt-2 mt-lg-0">
            <h3>Library</h3>
        </a>


        <!-- Right Side Icons -->
        <div class="d-flex align-items-center">

        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Sidebar Start -->
<div class="sidebar" id="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/viewuser" class="nav-link"><i class="fas fa-user"></i> User</a>
        </li>
        <li class="nav-item">
            <a href="/admincategory" class="nav-link"><i class="fas fa-list"></i> Category</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fas fa-box"></i> Product</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="fas fa-rss"></i> Feed</a>
        </li>
    </ul>
</div>
<!-- Sidebar End -->